body {
  font-family: 'Roboto';
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

#topBar {

}

#pageTitle {
  text-align: center;
}

#newBookBtn {
  width: 40px;
  height: 40px;
  border: 0px;
  border-radius: 100%;
  position: fixed;
  top: 2em;
  right: 2em;
  font-size: 40px;
  text-align: center;
  line-height: 0;
  font-family: 'Roboto';
  font-weight: 350;
  color: white;
  background-color: rgb(179, 233, 255);
}

#newBookBtn:hover {
  background-color: rgb(101, 211, 255);
}

#newBookFormDiv {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 50px;
  justify-content: center;
}

#newBookFormDiv::after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-color: #474e5d;
}

#formContainer {
  padding: 16px;
}

#bookForm {
  background-color: #fff;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 50%;
}

input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

#bookDiv {
  display: grid;
}

#bookTable {
  justify-self: center;
  width: 80%;
  height: 100px;
  margin: 5px;
  border: none;
  box-shadow: #ddd 1px 1px 5px;
  border-collapse: collapse;
}

tr,
th {
  text-align: left;
  height: 50px;
  padding: 10px;
}

td {
  line-height: 0;
   padding: 10px;
}

.even {
    background-color: #f3f3f3;
}

.toCenter {
  text-align: center;
}

.statusBtn {
  width: 120px;
  height: 25px;
  line-height: 0;
  border: 0;
  border-radius: 10%;
}

.statusTrue {
  background-color: #dbffdb;
  color: #006200;
}

.statusFalse {
  background-color: #ffdddd;
  color: #6a0000;
}

.deleteBtnColumn {
    width: 50px;
}

.deleteBtn {
  width: 25px;
  height: 25px;
  padding: 0;
  text-align: center;
  line-height: 0;
  background: none;
  border: 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 40px;
  color: rgb(119, 0, 0);
}

.deleteBtn:hover {
  border-radius: 100%;
  background-color: rgb(179, 54, 54);
  color: #fff;
  font-weight: 300;
}

.bookRender tr:nth-child(even) {
  background-color: #eee;
}
.bookRender tr:nth-child(odd) {
  background-color: #fff;
}
